<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.universal.textboom"
    android:versionCode="4"
    android:versionName="1.4">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- runtime -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BoomApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_bigbang"
        android:label="@string/app_label">

        <activity
            android:name=".BoomActivity"
            android:launchMode="singleTop"
            android:taskAffinity="com.universal.textboom.standalone"
            android:theme="@style/BaseStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BoomOcrActivity"
            android:configChanges="screenSize|layoutDirection|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode"
            android:theme="@style/BaseStyleTrans">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BoomSearchActivity"
            android:theme="@style/BoomSearchActivityStyle" />
        <activity
            android:name=".TextBoomSettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SettingTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OptionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingTheme" />

        <provider
            android:name=".TextBoomCallProvider"
            android:authorities="com.universal.textboom.call_method"
            android:exported="true"
            android:multiprocess="true" />

        <service
            android:name=".floating.FloatingService"
            android:exported="false" />

        <service
            android:name=".BoomAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>

    </application>

</manifest>